table {
	border: 1px solid blue;
	border-collapse: collapse;
	width: 100%;
}

th {
	background-color: rgb(255, 224, 139);
	width: auto;
}

table tbody tr:nth-child(odd) {
    background: #cde6e6;
}

table tbody tr:nth-child(even) {
    background: #fff4b3;
}

body {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}

form {
	 display: block;
	 margin: auto;
	 width: 25%;
}