table {
	border: 1px solid blue;
	border-collapse: collapse;
	width: 100%;
}

th {
	background-color: yellow;
	border-spacing: 0;
	cellspacing: 0;
}

table tbody tr:nth-child(odd) {
    background: #d2ebec;
}

table tbody tr:nth-child(even) {
    background: #2d913e;
}

body {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}

form {
	 display: block;
	 margin: auto;
	 width: 25%;
}