#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo {
  background-image: url(img/images.jpeg);
  background-size: auto;
  background-origin: border;
  text-align: center;
  padding: 15px;
}

#content {
  min-height: 580px;
  float: left;
  width: 100%;
}

hr {
  width: 100%;
}

h1 {
  text-align: center;
  font-family: "Courier New";
  color: rgb(120, 221, 221);
}

h2 {
  text-align: center;
  color: rgb(159, 131, 226);
}

h3 {
  padding: 20px;
  color: rgb(34, 0, 71);
  text-decoration: underline;
}

#footer {
  clear: both;
  background-color: rgb(1, 20, 56);
  color: white;
  text-shadow: 2px 3px 2px rgb(106, 143, 150);
  text-align: center;
  padding: 20px;
}
